/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Allows for full-viewport-height elements on 
page. Alternative is to use height: 100vh on 
individual elements */
html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   background-color: #23395B;
   color: #CFFFF1;
   font-size: 100%;
}

.row {
	clear: both;
	overflow: hidden;
}

.col-left {
	float: left;
	padding-right: 5%;
	width: 40%;
}

.col-right {
	float: left;
	width: 60%;
}


header {
	width: 100%;
	padding: 20px 0;
}
 
header > h1 {
	padding: 0 10%;
	font-size: 3rem;
}

.wrapper {
	padding: 0 10%;
}

h1, h2 {
	font-variant: small-caps;
	color: #40FD65;
}
 
h1 {
	margin: 0;
}

h2 {
	margin: 20px 0;
}


/** { border: 1px solid #ff0000;*/

p {
	margin: 0;
	padding: 0;
}

form > label, form > input {
	display: block;
}
form > label {
	margin-bottom: 4px;
	font-size: 110%;
}

form > input {
	margin-bottom: 12px;
	width: 80%;
	font-size: 120%;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

/*form > .wide-input {
	width: 70%;
}*/

form > button {
	font-size: 1.2rem;
	margin: 10px 0;
}

@media (max-width: 900px) {
	.col-right, .col-left {
		width: 100%;
	}

	form > input {
		width: 50%;
	}
}

@media (max-width: 500px) {
	form > input {
		width: 80%;
	}
}

#graph {
	background-color: #FFF;
	width: 100%;
	height: auto;
	margin: 10px 0 0 0;
}

